code, pre {
  font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color:#333;
  font-size:0.9em;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  color: #555;
  padding: 0.2em;
}

pre {
  padding:8px 15px;
  background: #f8f8f8;
  border-radius:5px;
  border:1px solid #e5e5e5;
  overflow-x: auto;
}
